.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
  color: #000;
  border-radius: 0 0 10px 10px;
  height: 100%;
  position: relative;
}

.editor {
  :global {
    .public-DraftEditor-content {
      height: 67px;
    }
    .DraftEditor-root {
      padding: 8px;
      overflow-y: auto;
    }
  }
}

.emojiBox {
  height: 24px;
  border-bottom: 1px solid lightgray;
  // div > div + button {
  //   height: 1em;
  //   border: none;
  //   background: unset;
  //   display: flex;
  //   align-items: center;
  //   margin-left: 8px;
  //   padding-bottom: 4px;
  //   &:hover {
  //     background-color: unset;
  //   }
  // }
  :global {
    button {
      height: 1em;
      border: none;
      background: unset;
      display: flex;
      align-items: center;
      margin-left: 8px;
      // padding-bottom: 4px;
      &:hover {
        background-color: unset;
      }
    }
  }
}

.count {
  position: absolute;
  right: 0;
  bottom: -2px;
  font-size: 10px;
  color: gray;
}

.counterOverLimit {
  color: red;
}

.emoji {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
