.editor {
  box-sizing: border-box;
  cursor: text;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px var(--main-color);
  background: var(--bg-color);
  color: var(--main-color);
  border-radius: 0 0 10px 0;
  height: 100%;
  position: relative;
}

.editor {
  :global {
    .public-DraftEditor-content {
      height: 67px;
    }
    .DraftEditor-root {
      padding: 8px;
      overflow-y: auto;
    }
  }
}

.emojiBox {
  height: 24px;
  border-bottom: 1px solid var(--main-color);
  :global {
    button {
      height: 100%;
      border: none;
      background: unset;
      display: flex;
      margin-left: 8px;
      color: var(--main-color);
      line-height: 20px;
      &:hover {
        background-color: unset;
      }
    }
  }
}

.count {
  position: absolute;
  right: 5px;
  bottom: 3px;
  font-size: 10px;
  color: var(--main-color);
}

.counterOverLimit {
  color: red;
}

.emoji {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
