@tailwind base;
@tailwind components;
@tailwind utilities;

.navMenu {
  height: 100vh;
  width: 100vw;
  box-sizing: content-box;
  color: var(--main-color);
  ul {
    list-style: none;
    display: flex;
  }
  :global {
    .ant-menu-overflow-item {
      &:hover {
        color: var(--main-color) !important;
      }
    }
    .ant-menu-item {
      margin-right: 1em;
    }
  }
}
.bg {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/bg.jpeg');
  background-size: cover;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
